<body>
    <header>
     <h1>Development of a Quick-Check for RE</h1>
        <h2>Transformation of NaPiRe Data to CCE Tool</h2>
    </header>

In [1]:
import pandas as pd
import numpy as np
from IPython.display import Markdown as md

In [2]:
pd.__version__

'1.3.4'

In [3]:
# Import whole Dataset of NaPiRe
df = pd.read_csv(r'.\data\napire_truth.csv',
                 encoding='latin1', delimiter=';', thousands=',')

In [4]:
df.head()

,lfdn,v_300,v_23,v_3,v_1,v_2,v_4,v_5,v_6,v_7,...,v_279,v_280,v_281,v_282,v_283,v_284,v_285,v_286,v_194,v_297
0,30,English,Japan,7,Agriculture,NotAnswered,Software-intensive embedded systems,NotAnswered,not quoted,quoted,...,NotShown,NotShown,NotShown,NotAnswered,NotAnswered,NotShown,NotShown,NotShown,Nothing,Since systems we developed face the natural en...
1,33,English,Argentina,5,Manufacturing,NotAnswered,Software-intensive embedded systems,NotAnswered,quoted,not quoted,...,NotAnswered,NotAnswered,NotAnswered,NotAnswered,NotAnswered,NotAnswered,NotAnswered,NotAnswered,NotAnswered,NotAnswered
2,35,English,Argentina,130,Healthcare,NotAnswered,Business information systems,NotAnswered,quoted,not quoted,...,NotAnswered,NotAnswered,NotAnswered,extremly small team for a World wide project,lack of experience in software develoment; lac...,lack of experience in software develoment; lac...,inmature customer industry,lack of time,,
3,41,English,United States,4,Human resources,NotAnswered,Business information systems,NotAnswered,not quoted,quoted,...,Some people in the group have learned differen...,Someone in our group is going off and making c...,We are basing our project off of another app t...,The project will probably only be about 90% do...,While we will try our best to ensure our non-f...,This simply makes the process of creating the ...,"Again, this simply makes the process of creati...","This will have no effect on the final product,...",NotApplicable,Nope!
4,48,English,United States,25,Other (please specify),Satellites,Software-intensive embedded systems,NotAnswered,not quoted,quoted,...,Losing track of where requirements are located...,"If requirements are too vague, developer often...",Customers often do not specify the requirement...,NotAnswered,NotAnswered,NotAnswered,NotAnswered,NotAnswered,NotAnswered,NotApplicable

# NaPiRE Data

- ID: Question ID in the questionnaire
- NaPiRe ID: Variable name in the data set
- Question: Question text

<table class="table table-striped table-bordered" style="width: 100%; table-layout: auto;">
<thead>
<tr>
<th>ID</th>
<th>NaPiRe ID</th>
<th>Question</th>
</tr>
</thead>
<tbody>
<tr>
<td>1</td>
<td>v_1</td>
<td>Please select the main industrial sector of your project and the application domain of the software you build.</td>
</tr>
<tr>
<td>2</td>
<td>v_4</td>
<td>Please select the class of systems or services you work on in the context of your project.</td>
</tr>
<tr>
<td>3</td>
<td>v_6 to v_15</td>
<td>Are there quality attributes which are of particularly high importance for your development project?</td>
</tr>
<tr>
<td>4</td>
<td>NULL</td>
<td>How would you describe the ratio between the scope of your projects with the amount of projects in a year?</td>
</tr>
<tr>
<td>5</td>
<td>v_3</td>
<td>In average, how many people are typically involved in your projects?</td>
</tr>
<tr>
<td>6</td>
<td>v_17</td>
<td>What is the main role you occupy within your projects? If more than one role applies to you, please select the one in which you are most active.</td>
</tr>
<tr>
<td>7</td>
<td>v_19</td>
<td>How many years of industrial experience do you have in this role?</td>
</tr>
<tr>
<td>8</td>
<td>v_25</td>
<td>In your opinion, how satisfied are your clients in general with the projects you carry out with them?</td>
</tr>
<tr>
<td>9</td>
<td>NULL</td>
<td>What is the reason for this level of satisfaction of your client?</td>
</tr>
<tr>
<td>10</td>
<td>v_167</td>
<td>In your opinion, how satisfied are you in general with the projects you have carried out yourself?</td>
</tr>
<tr>
<td>11</td>
<td>NULL</td>
<td>What is the reason for your satisfaction with your projects?</td>
</tr>
<tr>
<td>12</td>
<td>NULL</td>
<td>In your experience, how many of the requirements you elicit in the beginning end up in the final product on average?</td>
</tr>
<tr>
<td>13</td>
<td>NULL</td>
<td>How long have you been applying your current work practices without having made a major transformation?</td>
</tr>
<tr>
<td>14</td>
<td>NULL</td>
<td>If you have changed your current work practices recently (in the past 5 years), how would they rate the impact on success on your projects?</td>
</tr>
<tr>
<td>15</td>
<td>NULL</td>
<td>If you have changed your current work practices recently, why did you change it?</td>
</tr>
<tr>
<td>16</td>
<td>v_24</td>
<td>How would you personally characterise your way of working in your project?</td>
</tr>
<tr>
<td>17</td>
<td>v_36 to v_46</td>
<td>Which techniques do you use for your requirements elicitation?</td>
</tr>
<tr>
<td>18</td>
<td>v_82 to v_96</td>
<td>How do you document requirements?</td>
</tr>
<tr>
<td>19</td>
<td>v_61 to v_67</td>
<td>How do you make use of the documented requirements?</td>
</tr>
<tr>
<td>20</td>
<td>v_106 to v_113</td>
<td>How do you verify and/or validate your requirements?</td>
</tr>
<tr>
<td>21</td>
<td>v_158 to v_164</td>
<td>How do you align software testing with the requirements?</td>
</tr>
<tr>
<td>22</td>
<td>v_97 to v_105</td>
<td>Which classes of non-functional requirements do you explicitly consider in your requirements documentation?</td>
</tr>
<tr>
<td>23</td>
<td>NULL</td>
<td>Considering your personal experiences, how do the following problems in requirements engineering apply to your projects?</td>
</tr>
<tr>
<td>24</td>
<td>NULL</td>
<td>Considering your personal experiences, what are the causes to the previously stated problems that apply to your projects?</td>
</tr>
<tr>
<td>25</td>
<td>NULL</td>
<td>Considering your personal experiences, what are the effects if he previously stated problems that apply to your projects?</td>
</tr>
</tbody>
</table>


<!-- MARKDOWN VERSION TO GENERATE HTML
| ID  | NaPiRe ID      | Question                                                                                                                                         |
| --- | -------------- | ------------------------------------------------------------------------------------------------------------------------------------------------ |
| 1   | v_1            | Please select the main industrial sector of your project and the application domain of the software you build.                                   |
| 2   | v_4            | Please select the class of systems or services you work on in the context of your project.                                                       |
| 3   | v_6 to v_15    | Are there quality attributes which are of particularly high importance for your development project?                                             |
| 4   | NULL           | How would you describe the ratio between the scope of your projects with the amount of projects in a year?                                       |
| 5   | v_3            | In average, how many people are typically involved in your projects?                                                                             |
| 6   | v_17           | What is the main role you occupy within your projects? If more than one role applies to you, please select the one in which you are most active. |
| 7   | v_19           | How many years of industrial experience do you have in this role?                                                                                |
| 8   | v_25           | In your opinion, how satisfied are your clients in general with the projects you carry out with them?                                            |
| 9   | NULL           | What is the reason for this level of satisfaction of your client?                                                                                |
| 10  | v_167          | In your opinion, how satisfied are you in general with the projects you have carried out yourself?                                               |
| 11  | NULL           | What is the reason for your satisfaction with your projects?                                                                                     |
| 12  | NULL           | In your experience, how many of the requirements you elicit in the beginning end up in the final product on average?                             |
| 13  | NULL           | How long have you been applying your current work practices without having made a major transformation?                                          |
| 14  | NULL           | If you have changed your current work practices recently (in the past 5 years), how would they rate the impact on success on your projects?      |
| 15  | NULL           | If you have changed your current work practices recently, why did you change it?                                                                 |
| 16  | v_24           | How would you personally characterise your way of working in your project?                                                                       |
| 17  | v_36 to v_46   | Which techniques do you use for your requirements elicitation?                                                                                   |
| 18  | v_82 to v_96   | How do you document requirements?                                                                                                                |
| 19  | v_61 to v_67   | How do you make use of the documented requirements?                                                                                              |
| 20  | v_106 to v_113 | How do you verify and/or validate your requirements?                                                                                             |
| 21  | v_158 to v_164 | How do you align software testing with the requirements?                                                                                         |
| 22  | v_97 to v_105  | Which classes of non-functional requirements do you explicitly consider in your requirements documentation?                                      |
| 23  | NULL           | Considering your personal experiences, how do the following problems in requirements engineering apply to your projects?                         |
| 24  | NULL           | Considering your personal experiences, what are the causes to the previously stated problems that apply to your projects?                        |
| 25  | NULL           | Considering your personal experiences, what are the effects if he previously stated problems that apply to your projects?                        |
-->

# CCE Tool


<div class="alert alert-block alert-info"><b>Explanation:</b>
    <ul>
        <li>ID: ID of the question</li>
        <li>Question: Question text</li>
    </ul>
    </div>


<table class="table table-striped table-bordered" style="width: 100%; table-layout: auto;">
<thead>
<tr>
<th>ID</th>
<th>Question</th>
</tr>
</thead>
<tbody>
<tr>
<td>65</td>
<td>Please select the main industrial sector of your project and the application domain of the software you build.</td>
</tr>
<tr>
<td>66</td>
<td>Please select the class of systems or services you work on in the context of your project.</td>
</tr>
<tr>
<td>70</td>
<td>Are there quality attributes which are of particularly high importance for your development project?</td>
</tr>
<tr>
<td>71</td>
<td>How would you describe the ratio between the scope of your projects with the amount of projects in a year?</td>
</tr>
<tr>
<td>67</td>
<td>In average, how many people are typically involved in your projects?</td>
</tr>
<tr>
<td>72</td>
<td>What is the main role you occupy within your projects?</td>
</tr>
<tr>
<td>73</td>
<td>How many years of industrial experience do you have in this role?</td>
</tr>
<tr>
<td>76</td>
<td>In your opinion, how satisfied are you in general with the projects you have carried out yourself?</td>
</tr>
<tr>
<td>75</td>
<td>What is the reason for this level of satisfaction of your client?</td>
</tr>
<tr>
<td>74</td>
<td>In your opinion, how satisfied are your clients in general with the projects you carry out with them?</td>
</tr>
<tr>
<td>77</td>
<td>What is the reason for your satisfaction with your projects?</td>
</tr>
<tr>
<td>78</td>
<td>In your experience, how many of the requirements you elicit in the beginning end up in the final product on average?</td>
</tr>
<tr>
<td>79</td>
<td>How long have you been applying your current work practices without having made a major transformation?</td>
</tr>
<tr>
<td>80</td>
<td>If you have changed your current work practices recently (in the past 5 years), how would they rate the impact on success on your projects?</td>
</tr>
<tr>
<td>81</td>
<td>If you have changed your current work practices recently, why did you change it?</td>
</tr>
<tr>
<td>82</td>
<td>How would you personally characterise your way of working in your project?</td>
</tr>
<tr>
<td>83</td>
<td>Which techniques do you use for your requirements elicitation?</td>
</tr>
<tr>
<td>84</td>
<td>How do you document requirements?</td>
</tr>
<tr>
<td>85</td>
<td>How do you make use of the documented requirements?</td>
</tr>
<tr>
<td>86</td>
<td>How do you verify and/or validate your requirements?</td>
</tr>
<tr>
<td>87</td>
<td>How do you align software testing with the requirements?</td>
</tr>
<tr>
<td>88</td>
<td>Which classes of non-functional requirements do you explicitly consider in your requirements documentation?</td>
</tr>
<tr>
<td>89</td>
<td>Considering your personal experiences, how do the following problems in requirements engineering apply to your projects? [TOP5]</td>
</tr>
<tr>
<td>90</td>
<td>Considering your personal experiences, how do the following problems in requirements engineering apply to your projects? [Checkbox]</td>
</tr>
<tr>
<td>91</td>
<td>Considering your personal experiences, what are the causes to the previously stated problems that apply to your projects?</td>
</tr>
<tr>
<td>92</td>
<td>Considering your personal experiences, what are the effects if he previously stated problems that apply to your projects?</td>
</tr>
</tbody>
</table>

<!--


| ID | Question                                                                                                                                    |
|----|---------------------------------------------------------------------------------------------------------------------------------------------|
| 65 | Please select the main industrial sector of your project and the application domain of the software you build.                              |
| 66 | Please select the class of systems or services you work on in the context of your project.                                                  |
| 70 | Are there quality attributes which are of particularly high importance for your development project?                                        |
| 71 | How would you describe the ratio between the scope of your projects with the amount of projects in a year?                                  |
| 67 | In average, how many people are typically involved in your projects?                                                                        |
| 72 | What is the main role you occupy within your projects?                                                                                      |
| 73 | How many years of industrial experience do you have in this role?                                                                           |
| 76 | In your opinion, how satisfied are you in general with the projects you have carried out yourself?                                          |
| 75 | What is the reason for this level of satisfaction of your client?                                                                           |
| 74 | In your opinion, how satisfied are your clients in general with the projects you carry out with them?                                       |
| 77 | What is the reason for your satisfaction with your projects?                                                                                |
| 78 | In your experience, how many of the requirements you elicit in the beginning end up in the final product on average?                        |
| 79 | How long have you been applying your current work practices without having made a major transformation?                                     |
| 80 | If you have changed your current work practices recently (in the past 5 years), how would they rate the impact on success on your projects? |
| 81 | If you have changed your current work practices recently, why did you change it?                                                            |
| 82 | How would you personally characterise your way of working in your project?                                                                  |
| 83 | Which techniques do you use for your requirements elicitation?                                                                              |
| 84 | How do you document requirements?                                                                                                           |
| 85 | How do you make use of the documented requirements?                                                                                         |
| 86 | How do you verify and/or validate your requirements?                                                                                        |
| 87 | How do you align software testing with the requirements?                                                                                    |
| 88 | Which classes of non-functional requirements do you explicitly consider in your requirements documentation?                                 |
| 89 | Considering your personal experiences, how do the following problems in requirements engineering apply to your projects? [TOP5]             |
| 90 | Considering your personal experiences, how do the following problems in requirements engineering apply to your projects? [Checkbox]         |
| 91 | Considering your personal experiences, what are the causes to the previously stated problems that apply to your projects?                   |
| 92 | Considering your personal experiences, what are the effects if he previously stated problems that apply to your projects?                   |

-->

In [5]:
# Replace the IDs with the question IDs in CCE Tool
N1ID = '65'
N2ID = '66'
N3ID = '70'
N4ID = '71'
N5ID = '67'
N6ID = '72'
N7ID = '73'
N8ID = '76'
N9ID = '75'
N10ID = '74'
N11ID = '77'
N12ID = '78'
N13ID = '79'
N14ID = '80'
N15ID = '81'
N16ID = '82'
N17ID = '83'
N18ID = '84'
N19ID = '85'
N20ID = '86'
N21ID = '87'
N22ID = '88'
N23ID = '3'

# Question.csv

In [69]:
questions = pd.read_csv(r'.\data\4_QC_Version_1_raw.csv', encoding='latin1',
                        delimiter=';', thousands=',', keep_default_na=False)
questions = questions.rename(columns={'Ã¯Â»Â¿question_id': 'question_id'})
questions

,question_id,question_text,type,answer_0,answer_1,answer_2,answer_3,answer_4,answer_5,answer_6,...,answer_44,answer_45,answer_46,answer_47,answer_48,answer_49,answer_50,answer_51,answer_52,answer_53
0,65,Please select the main industrial sector of yo...,radiogroup,Agriculture,Automotive,Finance,Healthcare,Security,Manufacturing,Energy,...,,,,,,,,,,
1,66,Please select the class of systems or services...,radiogroup,Software-intensive embedded systems,Business information systems,Hybrid of both software-intensive embedded sys...,,,,,...,,,,,,,,,,
2,70,Are there quality attributes which are of part...,checkbox,"Compatibility (e.g., co-existence, interoperab...","Maintainability (e.g., analysability, modulari...","Performance efficiency (e.g., time behavior, r...","Portability (e.g., adaptability, installabilit...","Reliability (e.g., availability, fault toleran...","Security (e.g., accountability, authenticity, ...",Safety (e.g. freedom of risk for health or dis...,...,,,,,,,,,,
3,71,How would you describe the ratio between the s...,radiogroup,Few projects with a large scope,A couple of projects with a medium scope,High number of projects with small scope,,,,,...,,,,,,,,,,
4,67,"In average, how many people are typically invo...",radiogroup,1 to 5,6 to 10,11 to 20,21 to 50,more than 50,,,...,,,,,,,,,,
5,72,What is the main role you occupy within your p...,radiogroup,Business Analyst,Requirements Engineer,Project Lead / Project Manager,Scrum Master,Product Manager,Product Owner,Test Manager / Tester,...,,,,,,,,,,
6,73,How many years of industrial experience do you...,radiogroup,up to 1 year,1 to 5 years,6 to 10 years,11 to 20 years,more than 20 years,,,...,,,,,,,,,,
7,76,"In your opinion, how satisfied are your client...",radiogroup,Very satisfied,Satisfied,Neutral,Unsatisfied,Very unsatisfied,,,...,,,,,,,,,,
8,75,What is the reason for this level of satisfact...,freetext,,,,,,,,...,,,,,,,,,,
9,74,"In your opinion, how satisfied are you in gene...",radiogroup,Very satisfied,Satisfied,Neutral,Unsatisfied,Very unsatisfied,,,...,,,,,,,,,,
10,77,What is the reason for your satisfaction with ...,freetext,,,,,,,,...,,,,,,,,,,
11,78,"In your experience, how many of the requiremen...",radiogroup,0-20%,21-40%,41-60%,61-80%,81-100%,,,...,,,,,,,,,,
12,79,How long have you been applying your current w...,radiogroup,up to 1 year,1 to 5 years,6 to 10 years,11 to 20 years,more than 20 years,,,...,,,,,,,,,,
13,80,If you have changed your current work practice...,radiogroup,No recent change,Positive impact,No impact,Negative impact,Both negative and positive impact,,,...,,,,,,,,,,
14,81,If you have changed your current work practice...,freetext,,,,,,,,...,,,,,,,,,,
15,82,How would you personally characterise your way...,radiogroup,Rather agile,Hybrid,Rather plan-driven,,,,,...,,,,,,,,,,
16,83,Which techniques do you use for your requireme...,checkbox,Interviews,Analysis of existing documents,Risk analyses,Prototyping,Workshops and focus groups,(Requirements) Reuse database and guidelines,Design Thinking / Lean Startup,...,,,,,,,,,,
17,84,How do you document requirements?,checkbox,Use cases,Natural language / informal (plain) text,Structured list of requirements,User stories,Use case diagrams,Activity diagrams,Class diagrams,...,,,,,,,,,,
18,85,How do you make use of the documented requirem...,checkbox,They are the basis for the implementation.,They are source for tests.,They are used in customer acceptance.,They are part of the contract.,They are a reminder for further discussions wi...,Other,,...,,,,,,,,,,
19,86,How do you verify and/or validate your require...,checkbox,Inspection (formal technical reviews using rea...,Walkthroughs,Informal peer reviews,Simulations,Automatic checking,We do not verify and/or validate our requireme...,Other,...,,,,,,,,,,
20,87,How do you align software testing with the req...,checkbox,Testers participate in requirements reviews.,We check the coverage of requirements with tests.,We define acceptance criteria and tests for re...,We derive tests from system models.,We do not align tests and requirements.,Other,,...,,,,,,,,,,
21,88,Which classes of non-functional requirements d...,checkbox,"Compatibility (e.g., co-existence, interoperab...","Maintainability (e.g., analysability, modulari...","Performance efficiency (e.g., time behavior, r...","Portability (e.g., adaptability, installabilit...","Reliability (e.g., availability, fault toleran...","Security (e.g., accountability, authenticity, ...",Safety (e.g. freedom of risk for health or dis...,...,,,,,,,,,,
22,90,"From your personal experience, which of the fo...",cause-problem-effect,PROBLEM_Communication flaws between the projec...,PROBLEM_Communication flaws within the project...,PROBLEM_Discrepancy between high degree of inn...,PROBLEM_Gold plating (implementation of featur...,PROBLEM_Incomplete or hidden requirements,PROBLEM_Inconsistent requirements,PROBLEM_Insufficient support by customer,...,EFFECT_Incomplete Requirements,EFFECT_Increase in communication problems,EFFECT_Increased complexity,EFFECT_Lack of innovation,EFFECT_Overall demotivation at project level,EFFECT_Poor product quality,EFFECT_Poor requirements quality,EFFECT_Requirements cannot be validated,EFFECT_Team conflicts,EFFECT_Time overrun

In [70]:
questions.iloc[1, 6] == ''

True

In [71]:
# Export questions to csv
questions.to_csv(r'.\data\exports\questions.csv', index=False, sep=";")

## Create a dataframe for the  answer.csv

#### Variables done
- [x] 1 
- [X] 2
- [X] 3
- 4 : No data
- [X] 5
- [X] 6
- [X] 7
- [X] 8
- 9 : No data
- [X] 10
- 11 : No data
- 12 : No data
- 13 : No data
- 14 : No data
- 15 : No data
- [X] 16
- [X] 17
- [X] 18
- [X] 19
- [X] 20
- [X] 21
- [X] 22
- [X] 23 
- [X] 24 
- [X] 25

# Auxiliary functions

In [9]:
def convertNapireToCce(questionsDF, toConvertDF, questionIndex):
    '''
    Converts values from the NaPiRE data format into the answer.csv fromat of
    the CCE tool importing script.

            Parameters:
                    questionsDF (df):    The data from question.csv
                    toConvertDF (df):    The NaPiRE data
                    questionIndex (int): Index of the question to be converted
                                         inside the question.csv

            Returns:
                    converted (df):      The resulting data frame in CCE
                                         format
    '''
    respondentAnswers = []
    converted = []
    for index, row in toConvertDF.iterrows():
        for label, content in questions.items():
            if label.startswith('answer_') and not (content[questionIndex] == ''):
                if row[1].replace(" ", "") == content[questionIndex].replace(" ", ""):
                    respondentAnswers.append((row[0], 'TRUE'))
                else:
                    respondentAnswers.append((row[0], 'FALSE'))
        converted.append(respondentAnswers)
        respondentAnswers = []
    return converted


def createQuestionColumns(questionPrefix, length):
    # Create resulting list with initial lfdn column
    questionColumn = ['lfdn']
    for index in np.arange(length):
        questionColumn.append(questionPrefix+(str(index)))
    return questionColumn

# return DataFrame with in CCE Tool Question.csv format


def createQuestionDF(questionColumn, convertedList):
    resultDF = pd.DataFrame(columns=questionColumn)
    for index, element in enumerate(convertedList):
        resultDF.loc[index] = element[0][0]
        for innerIndex, value in enumerate(element):
            resultDF.iloc[index, innerIndex+1] = value[1]
    return resultDF


def joinAllDataFrames(dataFrameList):
    result = dataFrameList[0]
    for index, elem in enumerate(dataFrameList):
        if index > 0:
            result = result.merge(elem)
    return result

# Converts and appends converted NaPiRE data to cce tool


def convertAndAppend(dfToConvert, questionListID, prefix):
    convertedDF = convertNapireToCce(questions, dfToConvert, questionListID)
    questionColumn = createQuestionColumns(prefix, len(convertedDF[0]))
    resultDF = createQuestionDF(questionColumn, convertedDF)
    resultList.append(resultDF)
    return resultDF

In [10]:
# Create resultlist where all dataFrames will be gathered
resultList = []

In [11]:
md("## **Variablename V_1 | QuestionID {}**".format(N1ID))

## **Variablename V_1 | QuestionID 65**

##### Please select the main industrial sector of your project and the application domain of the software you build.

In [12]:
N1 = df.loc[:, ['lfdn', 'v_1']]
N1 = N1.rename(columns={'v_1': N1ID})
# Delete Other options
N1 = N1.loc[N1[N1ID] != "Other (please specify)"]
N1

     lfdn                            65
0      30                   Agriculture
1      33                 Manufacturing
2      35                    Healthcare
3      41               Human resources
6      58                    Healthcare
..    ...                           ...
479  1932  Enterprise resource planning
480  1933                    Healthcare
481  1941                    e-Commerce
483  1961                    e-Commerce
485  1963         Public transportation

[399 rows x 2 columns]

In [13]:
N1converted = convertNapireToCce(questions, N1, 0)
questionColumn = createQuestionColumns(N1ID + '_', len(N1converted[0]))
# Create question contet with TRUE and FALSE values
N1result = createQuestionDF(questionColumn, N1converted)
resultList.append(N1result)
N1result

,lfdn,65_0,65_1,65_2,65_3,65_4,65_5,65_6,65_7,65_8,...,65_11,65_12,65_13,65_14,65_15,65_16,65_17,65_18,65_19,65_20
0,30,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
1,33,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
2,35,FALSE,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
3,41,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,...,FALSE,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
4,58,FALSE,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,1932,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,...,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
395,1933,FALSE,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
396,1941,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,FALSE
397,1961,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,FALSE
398,1963,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,FALSE,FALSE

In [14]:
md("## **Variablename V_4 | QuestionID {}**".format(N2ID))

## **Variablename V_4 | QuestionID 66**

##### Please select the class of systems or services you work on in the context of your project.

In [15]:
N2 = df.loc[:, ['lfdn', 'v_4']]
N2 = N2.rename(columns={'v_4': N2ID})
# Delete Other options
N2 = N2[N2[N2ID] != "Other (please specify)"]
N2

     lfdn                                                 66
0      30                Software-intensive embedded systems
1      33                Software-intensive embedded systems
2      35                       Business information systems
3      41                       Business information systems
4      48                Software-intensive embedded systems
..    ...                                                ...
483  1961                       Business information systems
484  1962                       Business information systems
485  1963                       Business information systems
486  1965                       Business information systems
487  1969  Hybrid of both software-intensive embedded sys...

[458 rows x 2 columns]

In [16]:
N2converted = convertNapireToCce(questions, N2, 1)
questionColumn = createQuestionColumns(N2ID+'_', len(N2converted[0]))
# Create question contet with TRUE and FALSE values
N2result = createQuestionDF(questionColumn, N2converted)
resultList.append(N2result)
N2result

     lfdn   66_0   66_1   66_2
0      30   TRUE  FALSE  FALSE
1      33   TRUE  FALSE  FALSE
2      35  FALSE   TRUE  FALSE
3      41  FALSE   TRUE  FALSE
4      48   TRUE  FALSE  FALSE
..    ...    ...    ...    ...
453  1961  FALSE   TRUE  FALSE
454  1962  FALSE   TRUE  FALSE
455  1963  FALSE   TRUE  FALSE
456  1965  FALSE   TRUE  FALSE
457  1969  FALSE  FALSE  FALSE

[458 rows x 4 columns]

In [17]:
md("## **Variablename V_6 - V_15 | QuestionID {}**".format(N3ID))

## **Variablename V_6 - V_15 | QuestionID 70**

##### Are there quality attributes which are of particularly high importance for your development project?

In [18]:
N3 = df.loc[:, ['lfdn', 'v_6', 'v_7', 'v_8',
                'v_9', 'v_10', 'v_11', 'v_12', 'v_13', 'v_14']]
N3 = N3.rename(columns={'v_6': N3ID+'_0', 'v_7': N3ID+'_1', 'v_8': N3ID+'_2', 'v_9': N3ID+'_3',
               'v_10': N3ID+'_4', 'v_11': N3ID+'_5', 'v_12': N3ID+'_6', 'v_13': N3ID+'_7', 'v_14': N3ID+'_8'})
# Replace standard value with TRUE or FALSE
N3 = N3.replace('not quoted', 'FALSE').replace('quoted', 'TRUE')
resultList.append(N3)
N3

     lfdn   70_0   70_1   70_2   70_3   70_4   70_5   70_6   70_7   70_8
0      30  FALSE   TRUE  FALSE  FALSE   TRUE  FALSE  FALSE   TRUE  FALSE
1      33   TRUE  FALSE   TRUE  FALSE   TRUE   TRUE  FALSE  FALSE  FALSE
2      35   TRUE  FALSE   TRUE  FALSE  FALSE   TRUE  FALSE   TRUE  FALSE
3      41  FALSE   TRUE  FALSE   TRUE   TRUE  FALSE  FALSE   TRUE  FALSE
4      48  FALSE   TRUE  FALSE  FALSE   TRUE   TRUE  FALSE   TRUE  FALSE
..    ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
483  1961   TRUE   TRUE   TRUE  FALSE   TRUE   TRUE  FALSE  FALSE  FALSE
484  1962  FALSE   TRUE   TRUE  FALSE   TRUE  FALSE   TRUE   TRUE  FALSE
485  1963   TRUE   TRUE  FALSE  FALSE  FALSE   TRUE  FALSE   TRUE  FALSE
486  1965   TRUE  FALSE  FALSE  FALSE  FALSE  FALSE   TRUE  FALSE  FALSE
487  1969  FALSE   TRUE   TRUE  FALSE   TRUE  FALSE  FALSE   TRUE  FALSE

[488 rows x 10 columns]

In [19]:
md("## **Variablename V_3 | QuestionID {}**".format(N5ID))

## **Variablename V_3 | QuestionID 67**

##### In average, how many people are typically involved in your projects?

<div class="alert alert-danger" role="alert">
    <div class="row vertical-align">
        <div class="col-xs-1 text-center">
            <i class="fa fa-exclamation-triangle fa-2x"></i>
        </div>
        <div class="col-xs-11">
                <strong>PROBLEM: Data is present as String and needs to be converted as answer possiblites are:
                    <ul>
                        <li> 1 to 5,</li>
                        <li>6 to 10,</li>
                        <li>11 to 20,</li>
                        <li>21 to 50,</li>
                        <li> more than 50</li>
                    </ul>
           </strong>                   
        </div>   
    </div> 
</div>

In [20]:
N5 = df.loc[:, ['lfdn', 'v_3']]
N5 = N5.rename(columns={'v_3': N5ID+'_old'})
N5

     lfdn                                             67_old
0      30                                                  7
1      33                                                  5
2      35                                                130
3      41                                                  4
4      48                                                 25
..    ...                                                ...
483  1961                                                 15
484  1962                                                  8
485  1963                                                 10
486  1965                                                 10
487  1969  Depends on Project.  Usually > 10 and < 100.  ...

[488 rows x 2 columns]

**Export to a csv and categorize it manually**

In [21]:
# Export answers to csv
N5.to_csv(r'.\data\exports\V_3_Teamsize.csv',index = False , encoding='latin1')

In [22]:
# Import manually coded data
N5 = pd.read_csv(r'.\data\V_3_teamsize.csv',
                 encoding='latin1', delimiter=';', thousands=',')
N5
# delete old values and rename data
N5 = N5.rename(columns={N5ID+'_new': N5ID, 'Ã¯Â»Â¿lfdn': 'lfdn'})
# Delete Invalid values
N5 = N5[N5[N5ID] != "INVALID"].iloc[:, [0, 2]]
N5

     lfdn            67
0      30       6 to 10
1      33        1 to 5
2      35  more than 50
3      41        1 to 5
4      48      21 to 50
..    ...           ...
483  1961      11 to 20
484  1962       6 to 10
485  1963       6 to 10
486  1965       6 to 10
487  1969      21 to 50

[485 rows x 2 columns]

In [23]:
N5converted = convertNapireToCce(questions, N5, 4)
questionColumn = createQuestionColumns(N5ID+'_', len(N5converted[0]))
# Create question content with TRUE and FALSE values
N5result = createQuestionDF(questionColumn, N5converted)
resultList.append(N5result)
N5result

     lfdn   67_0   67_1   67_2   67_3   67_4
0      30  FALSE   TRUE  FALSE  FALSE  FALSE
1      33   TRUE  FALSE  FALSE  FALSE  FALSE
2      35  FALSE  FALSE  FALSE  FALSE   TRUE
3      41   TRUE  FALSE  FALSE  FALSE  FALSE
4      48  FALSE  FALSE  FALSE   TRUE  FALSE
..    ...    ...    ...    ...    ...    ...
480  1961  FALSE  FALSE   TRUE  FALSE  FALSE
481  1962  FALSE   TRUE  FALSE  FALSE  FALSE
482  1963  FALSE   TRUE  FALSE  FALSE  FALSE
483  1965  FALSE   TRUE  FALSE  FALSE  FALSE
484  1969  FALSE  FALSE  FALSE   TRUE  FALSE

[485 rows x 6 columns]

In [24]:
md("## **Variablename V_17 | QuestionID {}**".format(N6ID))

## **Variablename V_17 | QuestionID 72**

##### What is the main role you occupy within your projects? If more than one role applies to you, please select the one in which you are most active.

In [25]:
N6 = df.loc[:, ['lfdn', 'v_17']]
N6 = N6.rename(columns={'v_17': N6ID})
# Replace standard value with TRUE or FALSE
N6 = N6[N6[N6ID] != 'Other (please specify)']
N6

     lfdn                              72
1      33  Project Lead / Project Manager
2      35                Business Analyst
3      41                       Architect
4      48                       Developer
5      56                       Developer
..    ...                             ...
482  1957  Project Lead / Project Manager
483  1961                       Architect
484  1962                   Product Owner
485  1963           Test Manager / Tester
486  1965  Project Lead / Project Manager

[448 rows x 2 columns]

In [26]:
N6converted = convertNapireToCce(questions, N6, 5)
questionColumn = createQuestionColumns(N6ID+'_', len(N6converted[0]))
# Create question contet with TRUE and FALSE values
N6result = createQuestionDF(questionColumn, N6converted)
resultList.append(N6result)
N6result

,lfdn,72_0,72_1,72_2,72_3,72_4,72_5,72_6,72_7,72_8,72_9
0,33,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
1,35,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
2,41,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,FALSE,FALSE
3,48,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,FALSE
4,56,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,FALSE
...,...,...,...,...,...,...,...,...,...,...,...
443,1957,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
444,1961,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,FALSE,FALSE
445,1962,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE
446,1963,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE
447,1965,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE

In [27]:
md("## **Variablename V_19 | QuestionID {}**".format(N7ID))

## **Variablename V_19 | QuestionID 73**


##### How many years of industrial experience do you have in this role?

<div class="alert alert-danger" role="alert">
    <div class="row vertical-align">
        <div class="col-xs-1 text-center">
            <i class="fa fa-exclamation-triangle fa-2x"></i>
        </div>
        <div class="col-xs-11">
                <strong>PROBLEM: Data is present as String and needs to be converted as answer possiblites are:
                    <ul>
                        <li>up to one year,</li>
                        <li>1 to 5 years,</li>
                        <li>6 to 10 years,</li>
                        <li>11 to 20 years,</li>
                        <li>more than 20 years</li>
                    </ul>
           </strong>                   
        </div>   
    </div> 
</div>

In [28]:
N7 = df.loc[:, ['lfdn', 'v_19']]
N7

     lfdn v_19
0      30    0
1      33    3
2      35    6
3      41    0
4      48    1
..    ...  ...
483  1961   10
484  1962   10
485  1963   12
486  1965   14
487  1969   30

[488 rows x 2 columns]

In [29]:
# Export answers to csv
N7.to_excel(r'.\data\exports\V_19_Experience.xlsx',
            index=False, encoding='latin1')

In [30]:
# Import manually coded data
N7 = pd.read_csv(r'.\data\V_19_Experience.csv',
                 encoding='latin1', delimiter=';')
# Clean up data set
N7 = N7.loc[:, ['lfdn', N7ID+'_new']]
# Rename values and drop NA rows
N7 = N7.rename(columns={N7ID+'_new': N7ID}).dropna()
N7

       lfdn                  73
0      30.0        up to 1 year
1      33.0        1 to 5 years
2      35.0        1 to 5 years
3      41.0        up to 1 year
4      48.0        up to 1 year
..      ...                 ...
483  1961.0        1 to 5 years
484  1962.0        1 to 5 years
485  1963.0      11 to 20 years
486  1965.0      11 to 20 years
487  1969.0  more than 20 years

[488 rows x 2 columns]

In [31]:
N7result = convertAndAppend(N7, 6, N7ID+'_')
N7result

       lfdn   73_0   73_1   73_2   73_3   73_4
0      30.0   TRUE  FALSE  FALSE  FALSE  FALSE
1      33.0  FALSE   TRUE  FALSE  FALSE  FALSE
2      35.0  FALSE   TRUE  FALSE  FALSE  FALSE
3      41.0   TRUE  FALSE  FALSE  FALSE  FALSE
4      48.0   TRUE  FALSE  FALSE  FALSE  FALSE
..      ...    ...    ...    ...    ...    ...
483  1961.0  FALSE   TRUE  FALSE  FALSE  FALSE
484  1962.0  FALSE   TRUE  FALSE  FALSE  FALSE
485  1963.0  FALSE  FALSE  FALSE   TRUE  FALSE
486  1965.0  FALSE  FALSE  FALSE   TRUE  FALSE
487  1969.0  FALSE  FALSE  FALSE  FALSE   TRUE

[488 rows x 6 columns]

In [32]:
md("## **Variablename V_25 | QuestionID {}**".format(N8ID))

## **Variablename V_25 | QuestionID 76**

##### In your opinion, how satisfied are your clients in general with the projects you carry out with them?

In [33]:
N8 = df.loc[:, ['lfdn', 'v_25']]
N8 = N8.rename(columns={'v_25': N8ID})
# Replace NaPiRe answers with Quick-Check answers
N8 = N8.replace('Very good', 'Very satisfied').replace('Good', 'Satisfied')
N8 = N8.replace('neutral', 'Neutral').replace(
    'Bad', 'Unsatisfied').replace('Very bad', 'Very unsatisfied')
N8

     lfdn              76
0      30  Very satisfied
1      33  Very satisfied
2      35       Satisfied
3      41         Neutral
4      48       Satisfied
..    ...             ...
483  1961         Neutral
484  1962       Satisfied
485  1963  Very satisfied
486  1965       Satisfied
487  1969       Satisfied

[488 rows x 2 columns]

In [34]:
N8result = convertAndAppend(N8, 7, N8ID + '_')
N8result

     lfdn   76_0   76_1   76_2   76_3   76_4
0      30   TRUE  FALSE  FALSE  FALSE  FALSE
1      33   TRUE  FALSE  FALSE  FALSE  FALSE
2      35  FALSE   TRUE  FALSE  FALSE  FALSE
3      41  FALSE  FALSE   TRUE  FALSE  FALSE
4      48  FALSE   TRUE  FALSE  FALSE  FALSE
..    ...    ...    ...    ...    ...    ...
483  1961  FALSE  FALSE   TRUE  FALSE  FALSE
484  1962  FALSE   TRUE  FALSE  FALSE  FALSE
485  1963   TRUE  FALSE  FALSE  FALSE  FALSE
486  1965  FALSE   TRUE  FALSE  FALSE  FALSE
487  1969  FALSE   TRUE  FALSE  FALSE  FALSE

[488 rows x 6 columns]

In [35]:
md("## **Variablename V_167 | QuestionID {}**".format(N10ID))

## **Variablename V_167 | QuestionID 74**

##### In your opinion, how satisfied are you in general with the projects you have carried out yourself?

In [36]:
N10 = df.loc[:, ['lfdn', 'v_167']]
N10 = N10.rename(columns={'v_25': N10ID})
# Replace NaPiRe answers with Quick-Check answers
N10 = N10.replace('Very dissatisfied', 'Very unsatisfied').replace(
    'Dissatisfied', 'Unsatisfied')
N10 = N10.replace('Neither dissatisfied nor satisfied', 'Neutral')
N10

     lfdn             v_167
0      30         Satisfied
1      33         Satisfied
2      35         Satisfied
3      41         Satisfied
4      48           Neutral
..    ...               ...
483  1961  Very unsatisfied
484  1962           Neutral
485  1963         Satisfied
486  1965           Neutral
487  1969         Satisfied

[488 rows x 2 columns]

In [37]:
N10result = convertAndAppend(N10, 9, N10ID+'_')
N10result

     lfdn   74_0   74_1   74_2   74_3   74_4
0      30  FALSE   TRUE  FALSE  FALSE  FALSE
1      33  FALSE   TRUE  FALSE  FALSE  FALSE
2      35  FALSE   TRUE  FALSE  FALSE  FALSE
3      41  FALSE   TRUE  FALSE  FALSE  FALSE
4      48  FALSE  FALSE   TRUE  FALSE  FALSE
..    ...    ...    ...    ...    ...    ...
483  1961  FALSE  FALSE  FALSE  FALSE   TRUE
484  1962  FALSE  FALSE   TRUE  FALSE  FALSE
485  1963  FALSE   TRUE  FALSE  FALSE  FALSE
486  1965  FALSE  FALSE   TRUE  FALSE  FALSE
487  1969  FALSE   TRUE  FALSE  FALSE  FALSE

[488 rows x 6 columns]

In [38]:
md("## **Variablename V_24 | QuestionID {}**".format(N16ID))

## **Variablename V_24 | QuestionID 82**

##### How would you personally characterise your way of working in your project?

In [39]:
N16 = df.loc[:, ['lfdn', 'v_24']]
N16 = N16.rename(columns={'v_24': N16ID})
# In CCE Tool the questions are broken down into a smaller set of answer possibilites
N16 = N16.replace('Agile', 'Rather agile').replace(
    'Plan-driven', 'Rather plan-driven')
N16

     lfdn                  82
0      30        Rather agile
1      33  Rather plan-driven
2      35        Rather agile
3      41              Hybrid
4      48  Rather plan-driven
..    ...                 ...
483  1961        Rather agile
484  1962        Rather agile
485  1963        Rather agile
486  1965              Hybrid
487  1969              Hybrid

[488 rows x 2 columns]

In [40]:
N16result = convertAndAppend(N16, 15, N16ID+'_')
N16result

     lfdn   82_0   82_1   82_2
0      30   TRUE  FALSE  FALSE
1      33  FALSE  FALSE   TRUE
2      35   TRUE  FALSE  FALSE
3      41  FALSE   TRUE  FALSE
4      48  FALSE  FALSE   TRUE
..    ...    ...    ...    ...
483  1961   TRUE  FALSE  FALSE
484  1962   TRUE  FALSE  FALSE
485  1963   TRUE  FALSE  FALSE
486  1965  FALSE   TRUE  FALSE
487  1969  FALSE   TRUE  FALSE

[488 rows x 4 columns]

In [41]:
md("## **Variablename V_36 - V_46 | QuestionID {}**".format(N17ID))

## **Variablename V_36 - V_46 | QuestionID 83**

##### Which techniques do you use for your requirements elicitation?

In [42]:
# We added some answers to the set of questions of NaPiRe
# v_36: Interviews
# v_37: Analysis of existing documents
# v_38: Risk analyses
# v_39: Prototyping
# v_40: Workshops and focus groups
# v_41: (Requirements) Reuse database and guidelines
# v_42: Design Thinking / Lean Startup
# v_43: External experts
# NEW: Brainstorming
# v_44: Observations/Ethnography
# v_47: We do not elicit requirements (ourselves)

N17 = df.loc[:, ['lfdn', 'v_36', 'v_37', 'v_38',
                 'v_39', 'v_40', 'v_41', 'v_42', 'v_43']]
# Therefore we add another dummy row that we just fill with false values as we have no data
N17[N17ID+'_8'] = 'FALSE'
# Add last two rows manually
N17[N17ID+'_9'] = df.loc[:, 'v_44']
N17[N17ID+'_10'] = df.loc[:, 'v_47']

N17 = N17.rename(columns={'v_36': N17ID+'_0', 'v_37': N17ID+'_1', 'v_38': N17ID+'_2', 'v_39': N17ID+'_3',
                          'v_40': N17ID+'_4', 'v_41': N17ID+'_5', 'v_42': N17ID+'_6', 'v_43': N17ID+'_7'})
N17 = N17.replace('not quoted', 'FALSE').replace('quoted', 'TRUE')
resultList.append(N17)
N17

,lfdn,83_0,83_1,83_2,83_3,83_4,83_5,83_6,83_7,83_8,83_9,83_10
0,30,TRUE,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
1,33,TRUE,FALSE,TRUE,TRUE,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE
2,35,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,TRUE,FALSE,TRUE,FALSE
3,41,FALSE,TRUE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,FALSE
4,48,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE
...,...,...,...,...,...,...,...,...,...,...,...,...
483,1961,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,TRUE,FALSE,FALSE,TRUE,FALSE
484,1962,TRUE,FALSE,TRUE,TRUE,FALSE,TRUE,TRUE,FALSE,FALSE,FALSE,FALSE
485,1963,TRUE,TRUE,TRUE,TRUE,TRUE,TRUE,TRUE,FALSE,FALSE,TRUE,FALSE
486,1965,TRUE,TRUE,FALSE,TRUE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
487,1969,TRUE,TRUE,TRUE,TRUE,TRUE,FALSE,FALSE,FALSE,FALSE,TRUE,FALSE

In [43]:
md("## **Variablename V_82 - V_96 | QuestionID {}**".format(N18ID))

## **Variablename V_82 - V_96 | QuestionID 84**


##### How do you document requirements?

In [44]:
N18 = df.loc[:, ['lfdn', 'v_82', 'v_83', 'v_84',
                 'v_85', 'v_86', 'v_87', 'v_88',
                 'v_89', 'v_90', 'v_91', 'v_92',
                 'v_93', 'v_94']]
N18 = N18.rename(columns={'v_82': N18ID+'_0', 'v_83': N18ID+'_1', 'v_84': N18ID+'_2', 'v_85': N18ID+'_3',
                          'v_86': N18ID+'_4', 'v_87': N18ID+'_5', 'v_88': N18ID+'_6', 'v_89': N18ID+'_7',
                          'v_90': N18ID+'_8', 'v_91': N18ID+'_9', 'v_92': N18ID+'_10', 'v_93': N18ID+'_11',
                          'v_94': N18ID+'_12'})
# Change values and clean data were NotShown is present
N18 = N18.replace('not quoted', 'FALSE').replace(
    'quoted', 'TRUE').replace('NotShown', np.nan).dropna()
resultList.append(N18)
N18

,lfdn,84_0,84_1,84_2,84_3,84_4,84_5,84_6,84_7,84_8,84_9,84_10,84_11,84_12
1,33,FALSE,TRUE,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE
2,35,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
3,41,TRUE,TRUE,FALSE,TRUE,TRUE,FALSE,TRUE,TRUE,FALSE,FALSE,FALSE,TRUE,FALSE
4,48,FALSE,TRUE,FALSE,FALSE,TRUE,TRUE,TRUE,TRUE,TRUE,FALSE,FALSE,FALSE,FALSE
5,56,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,TRUE,FALSE,FALSE,TRUE,FALSE,TRUE,FALSE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
483,1961,FALSE,TRUE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,FALSE
484,1962,FALSE,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,FALSE
485,1963,TRUE,FALSE,FALSE,TRUE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,FALSE
486,1965,FALSE,TRUE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,TRUE
487,1969,TRUE,TRUE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,FALSE

In [45]:
md("## **Variablename V_61 - V_67 | QuestionID {}**".format(N19ID))

## **Variablename V_61 - V_67 | QuestionID 85**

#####  	How do you make use of the documented requirements?

In [46]:
N19 = df.loc[:, ['lfdn', 'v_61', 'v_62', 'v_63', 'v_64', 'v_65']]
N19 = N19.rename(columns={'v_61': N19ID+'_0', 'v_62': N19ID+'_1', 'v_63': N19ID+'_2',
                          'v_63': N19ID+'_2', 'v_64': N19ID+'_3', 'v_65': N19ID+'_4'})

N19 = N19.replace('not quoted', 'FALSE').replace(
    'quoted', 'TRUE').replace('NotShown', np.nan).dropna()
resultList.append(N19)
N19

     lfdn   85_0   85_1   85_2   85_3   85_4
1      33   TRUE   TRUE   TRUE  FALSE  FALSE
2      35   TRUE  FALSE  FALSE  FALSE  FALSE
3      41   TRUE   TRUE   TRUE  FALSE  FALSE
4      48  FALSE  FALSE   TRUE  FALSE  FALSE
5      56   TRUE   TRUE   TRUE   TRUE   TRUE
..    ...    ...    ...    ...    ...    ...
483  1961   TRUE   TRUE   TRUE   TRUE   TRUE
484  1962   TRUE   TRUE  FALSE  FALSE  FALSE
485  1963   TRUE   TRUE   TRUE   TRUE   TRUE
486  1965   TRUE  FALSE   TRUE   TRUE   TRUE
487  1969   TRUE   TRUE   TRUE  FALSE  FALSE

[455 rows x 6 columns]

In [47]:
md("## **Variablename V_106 - V_113 | QuestionID {}**".format(N20ID))

## **Variablename V_106 - V_113 | QuestionID 86**

##### How do you verify and/or validate your requirements?

In [48]:
N20 = df.loc[:, ['lfdn', 'v_106', 'v_107', 'v_108', 'v_109', 'v_110', 'v_111']]
N20 = N20.rename(columns={'v_106': N20ID+'_0', 'v_107': N20ID+'_1', 'v_108': N20ID+'_2',
                          'v_109': N20ID+'_2', 'v_110': N20ID+'_3', 'v_111': N20ID+'_4'})
N20 = N20.replace('not quoted', 'FALSE').replace(
    'quoted', 'TRUE').replace('NotShown', np.nan).dropna()
resultList.append(N20)
N20

     lfdn   86_0   86_1   86_2   86_2   86_3   86_4
0      30  FALSE  FALSE   TRUE   TRUE  FALSE  FALSE
1      33  FALSE   TRUE   TRUE   TRUE   TRUE  FALSE
2      35  FALSE   TRUE  FALSE  FALSE  FALSE  FALSE
3      41   TRUE   TRUE   TRUE  FALSE   TRUE  FALSE
4      48   TRUE  FALSE   TRUE  FALSE  FALSE  FALSE
..    ...    ...    ...    ...    ...    ...    ...
483  1961  FALSE  FALSE  FALSE  FALSE  FALSE   TRUE
484  1962  FALSE  FALSE  FALSE   TRUE  FALSE  FALSE
485  1963   TRUE   TRUE   TRUE   TRUE   TRUE  FALSE
486  1965  FALSE   TRUE   TRUE  FALSE  FALSE  FALSE
487  1969   TRUE   TRUE  FALSE  FALSE  FALSE  FALSE

[488 rows x 7 columns]

In [49]:
md("## **Variablename V_158 - V_164 | QuestionID {}**".format(N21ID))

## **Variablename V_158 - V_164 | QuestionID 87**

##### How do you align software testing with the requirements?

In [50]:
ID21 = df.loc[:, ['v_158', 'v_159', 'v_160', 'v_161']]
ID21 = ID21.rename(columns={'v_158': N21ID+'_0', 'v_159': N21ID+'_1',
                            'v_160': N21ID+'_2', 'v_161': N21ID+'_3'})
ID21 = ID21.replace('not quoted', 'FALSE').replace(
    'quoted', 'TRUE').replace('NotShown', np.nan).dropna()
ID21

      87_0   87_1   87_2   87_3
0     TRUE  FALSE  FALSE  FALSE
1     TRUE  FALSE   TRUE   TRUE
2    FALSE   TRUE  FALSE  FALSE
3    FALSE   TRUE   TRUE   TRUE
4    FALSE  FALSE   TRUE  FALSE
..     ...    ...    ...    ...
483  FALSE   TRUE  FALSE  FALSE
484   TRUE  FALSE   TRUE  FALSE
485   TRUE   TRUE   TRUE   TRUE
486   TRUE   TRUE  FALSE  FALSE
487   TRUE  FALSE   TRUE  FALSE

[488 rows x 4 columns]

In [51]:
md("## **Variablename V_97 - V_105 | QuestionID {}**".format(N22ID))

## **Variablename V_97 - V_105 | QuestionID 88**

##### Which classes of non-functional requirements do you explicitly consider in your requirements documentation?

In [52]:
N22 = df.loc[:, ['lfdn', 'v_97', 'v_98', 'v_99',
                 'v_100', 'v_101', 'v_102', 'v_303', 'v_103']]
N22 = N22.rename(columns={'v_97': N22ID+'_0', 'v_98': N22ID+'_1',
                          'v_99': N22ID+'_2', 'v_100': N22ID+'_3',
                          'v_101': N22ID+'_4', 'v_303': N22ID+'_6',
                          'v_102': N22ID+'_5', 'v_103': N22ID+'_7'})
N22 = N22.replace('not quoted', 'FALSE').replace(
    'quoted', 'TRUE').replace('NotShown', np.nan).dropna()
N22

     lfdn   88_0   88_1   88_2   88_3   88_4   88_5   88_6   88_7
1      33   TRUE  FALSE   TRUE   TRUE   TRUE  FALSE   TRUE   TRUE
2      35  FALSE  FALSE  FALSE  FALSE  FALSE  FALSE  FALSE  FALSE
3      41  FALSE   TRUE  FALSE   TRUE   TRUE  FALSE  FALSE   TRUE
4      48  FALSE   TRUE  FALSE  FALSE   TRUE  FALSE   TRUE   TRUE
5      56   TRUE   TRUE   TRUE   TRUE   TRUE   TRUE   TRUE   TRUE
..    ...    ...    ...    ...    ...    ...    ...    ...    ...
483  1961  FALSE  FALSE  FALSE  FALSE  FALSE  FALSE  FALSE  FALSE
484  1962  FALSE  FALSE   TRUE  FALSE  FALSE  FALSE  FALSE   TRUE
485  1963  FALSE  FALSE  FALSE  FALSE  FALSE  FALSE  FALSE  FALSE
486  1965  FALSE  FALSE  FALSE  FALSE  FALSE  FALSE  FALSE  FALSE
487  1969  FALSE  FALSE   TRUE  FALSE   TRUE  FALSE  FALSE  FALSE

[455 rows x 9 columns]

In [53]:
md("## **Causes, problems, and effects | QuestionID {}**".format(N23ID))

## **Causes, problems, and effects | QuestionID 3**

Problem question: <p> Considering your personal experiences, how do the following problems in requirements engineering apply to your projects?</p>
Causes question: <p> Considering your personal experiences, what are the causes to the previously stated problems that apply to your projects?</p>
Effects question: <p> Considering your personal experiences, what are the effects if he previously stated problems that apply to your projects?</p>

In [54]:
# Ranks that should be considered (np.arange(1,6) -> Rank 1, 2, 3, 4, 5)
rankRange = np.arange(1, 6)
problemAnswerRange = np.arange(0, 20)

In [55]:
N23 = df.loc[:, ['lfdn', 'v_246', 'v_248', 'v_250', 'v_252', 'v_254']]
# Replace not given answers
N23 = N23.replace('Please make a selection', np.nan)
problemKeys = []
# Construct answer.csv format columns ([questionId]_[rank]_[PROBLEM]_[answerIndex])
for rank in rankRange:
    for answerIndex in problemAnswerRange:
        problemKeys.append('_'+str(rank)+'_PROBLEM_'+str(answerIndex))

for problemKey in problemKeys:
    newColumn = pd.DataFrame(data={problemKey: ['FALSE']*N23.shape[0]})
    N23 = pd.concat((N23, newColumn), axis=1)

keyValue = {
    "_0": "Communication flaws between the project and the customer",
    "_1": "Communication flaws within the project team",
    "_2": "Discrepancy between high degree of innovation and need for formal acceptance of (potentially wrong / incomplete / unknown) requirements",
    "_3": "Gold plating (implementation of features without corresponding requirements)",
    "_4": "Incomplete or hidden requirements",
    "_5": "Inconsistent requirements",
    "_6": "Insufficient support by customer",
    "_7": "Insufficient support by project lead",
    "_8": "Missing traceability",
    "_9": "Moving targets (changing goals, business processes and / or requirements)",
    "_10": "Stakeholders with difficulties in separating requirements from previously known solution designs",
    "_11": "Technically unfeasible requirements",
    "_12": "Terminological problems",
    "_13": "Time boxing / Not enough time in general",
    "_14": "Unclear / unmeasurable non-functional requirements",
    "_15": "Underspecified requirements that are too abstract and allow for various interpretations",
    "_16": "Volatile customer's business domain regarding, e.g., changing points of contact, business processes or requirements",
    "_17": "Weak access to customer needs and / or (internal) business information",
    "_18": "Weak knowledge about customer's application domain",
    "_19": "Weak relationship between customer and project lead"
}

# Create a reverse keyValue store
valueKey = keyValue.fromkeys(keyValue.values())
for i, e in enumerate(keyValue):
    valueKey[keyValue[e]] = e

# Fill all values from orginal data to new data
for rowIndex, row in N23.iterrows():
    for rank in rankRange:
        if N23.iloc[rowIndex, rank] in keyValue.values():
            splittedKey = valueKey[N23.iloc[rowIndex, rank]].split('_')
            collumnName = splittedKey[0]+'_' + \
                str(rank)+'_PROBLEM_'+splittedKey[1]
            N23.loc[rowIndex, collumnName] = 'TRUE'

N23result = pd.concat([N23['lfdn'], N23.iloc[:, 6:]], axis=1)
resultList.append(N23result)
N23result

,lfdn,_1_PROBLEM_0,_1_PROBLEM_1,_1_PROBLEM_2,_1_PROBLEM_3,_1_PROBLEM_4,_1_PROBLEM_5,_1_PROBLEM_6,_1_PROBLEM_7,_1_PROBLEM_8,...,_5_PROBLEM_10,_5_PROBLEM_11,_5_PROBLEM_12,_5_PROBLEM_13,_5_PROBLEM_14,_5_PROBLEM_15,_5_PROBLEM_16,_5_PROBLEM_17,_5_PROBLEM_18,_5_PROBLEM_19
0,30,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
1,33,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
2,35,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
3,41,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,...,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
4,48,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
483,1961,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,...,FALSE,FALSE,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE
484,1962,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,...,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE
485,1963,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
486,1965,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,...,FALSE,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
487,1969,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,...,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE

In [56]:
causeDF = pd.read_csv(r'.\data\1_2_Cause_Problem_Aggregated_PorpertyHumanRelated.csv', encoding='latin1', delimiter=';')
causeDF

,lfdn,problem,cause,tag,sourceId,targetId,rank,humanrelated
0,1340,Communication flaws within the project team,Bad atmosphere in the group,Bad atmosphere in the group,20,1,4,Yes
1,1455,Discrepancy between high degree of innovation ...,Switching Goals,Changing business needs,21,2,2,No
2,1676,Discrepancy between high degree of innovation ...,our customers (eg developers) want something ...,Changing business needs,21,2,2,No
3,1316,"Moving targets (changing goals, business proce...","business targets, market situation, competition",Changing business needs,21,9,1,No
4,1753,"Moving targets (changing goals, business proce...",Our technical world is changing. In our case i...,Changing business needs,21,9,5,No
...,...,...,...,...,...,...,...,...
1546,106,Communication flaws between the project and th...,Lack of quality time,Workload of customer,128,0,3,No
1547,1675,Communication flaws between the project and th...,Overloaded customer liaison,Workload of customer,128,0,3,No
1548,1441,Insufficient support by customer,too much workload,Workload of customer,128,6,1,No
1549,1844,Insufficient support by customer,Client is too busy,Workload of customer,128,6,1,No
1550,1006,Weak access to customer needs and / or (intern...,Delay in required feedback,Workload of customer,128,17,3,No

<div class="alert alert-danger" role="alert">
    <div class="row vertical-align">
        <div class="col-xs-1 text-center">
            <i class="fa fa-exclamation-triangle fa-2x"></i>
        </div>
        <div class="col-xs-11">
           <strong>
               PROBLEM: There are more than 5 answers in the original data? Clean them?
           </strong>                   
        </div>   
    </div> 
</div>

In [57]:
causeDF = pd.read_csv(r'.\data\Causes_categories.csv',
                      encoding='latin1', delimiter=';')
causeDF = causeDF.rename(columns={'Ã¯Â»Â¿Original Category': 'Original Category'})
causeDict = causeDF.set_index('Original Category').T.to_dict('list')
# # get length of answer possibilites
lenOfCauses = len(causeDF['New Category'].unique())

causeKeys = []
causeAnswerRange = np.arange(0, 16)
# Construct answer.csv format columns ([questionId]_[rank]_[CAUSE]_[answerIndex])
for rank in rankRange:
    for answerIndex in causeAnswerRange:
        causeKeys.append(N23ID+'_'+str(rank)+'_CAUSE_'+str(answerIndex))

N23_CAUSEresult = pd.DataFrame(data={'lfdn': [np.nan]})
for causeKey in causeKeys:
    newColumn = pd.DataFrame(data={causeKey: [np.nan]})
    N23_CAUSEresult = pd.concat((N23_CAUSEresult, newColumn), axis=1)

def delist(oneItemList):
    if len(oneItemList) == 1:
        return oneItemList.pop()


causeDict = {key: delist(value) for key, value in causeDict.items()}
N23_CAUSEresult

,lfdn,3_1_CAUSE_0,3_1_CAUSE_1,3_1_CAUSE_2,3_1_CAUSE_3,3_1_CAUSE_4,3_1_CAUSE_5,3_1_CAUSE_6,3_1_CAUSE_7,3_1_CAUSE_8,...,3_5_CAUSE_6,3_5_CAUSE_7,3_5_CAUSE_8,3_5_CAUSE_9,3_5_CAUSE_10,3_5_CAUSE_11,3_5_CAUSE_12,3_5_CAUSE_13,3_5_CAUSE_14,3_5_CAUSE_15
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<div class="alert alert-danger" role="alert">
    <div class="row vertical-align">
        <div class="col-xs-1 text-center">
            <i class="fa fa-exclamation-triangle fa-2x"></i>
        </div>
        <div class="col-xs-11">
           <strong>
               PROBLEM: Data cleaning should be done before this step
           </strong>                   
        </div>   
    </div> 
</div>

In [58]:
answerIDdictCauses = {'Changing project characteristics': '_0',
                      'Communication problems': '_1',
                      'High complexity of projects': '_2',
                      'Human factors': '_3',
                      'Insufficient development process': '_4',
                      'Lack of common understanding about goals': '_5',
                      'Lack of communication channels': '_6',
                      'Lack of creativity': '_7',
                      'Lack of engagement': '_8',
                      'Lack of involvement from the customer': '_9',
                      'Lack of involvement within the team': '_10',
                      'Lack of knowledge': '_11',
                      'Lack of management': '_12',
                      'Lack of RE awareness': '_13',
                      'Moving targets': '_14',
                      'Process execution defects': '_15'}
answerIDdictCauses

{'Changing project characteristics': '_0',
 'Communication problems': '_1',
 'High complexity of projects': '_2',
 'Human factors': '_3',
 'Insufficient development process': '_4',
 'Lack of common understanding about goals': '_5',
 'Lack of communication channels': '_6',
 'Lack of creativity': '_7',
 'Lack of engagement': '_8',
 'Lack of involvement from the customer': '_9',
 'Lack of involvement within the team': '_10',
 'Lack of knowledge': '_11',
 'Lack of management': '_12',
 'Lack of RE awareness': '_13',
 'Moving targets': '_14',
 'Process execution defects': '_15'}

In [59]:
causeAnswersDF = pd.read_csv(
    r'.\data\Causes_answers.csv', encoding='latin1', delimiter=';')
causeAnswersDF = causeAnswersDF.rename(columns={'Ã¯Â»Â¿lfdn': 'lfdn'})

N23_CAUSE = causeAnswersDF.loc[:, ['lfdn', 'tag', 'Rank']].dropna(
).sort_values('lfdn').reset_index(drop=True)
N23_CAUSE['converted'] = np.nan
for index, row in N23_CAUSE.iterrows():
    N23_CAUSE.loc[index, 'converted'] = causeDict[row['tag']]

previous_lfdn = np.nan
result_list = []
for index, elem in N23_CAUSE.iterrows():
    current_lfdn = elem['lfdn']
    if current_lfdn == previous_lfdn or index == 0:
        result_list.append(elem['converted'])
    else:
        result_list = []
        result_list.append(elem['converted'])
    previous_lfdn = elem['lfdn']

# Used in another project
N23_CAUSE_wSaT = causeAnswersDF.loc[:, ['lfdn', 'tag', 'Source Id', 'Target Id']].dropna(
).sort_values('lfdn').reset_index(drop=True)
N23_CAUSE_wSaT.to_csv(r'.\data\exports\cause_lfdn.csv', index=False, sep=";")

N23_CAUSE

,lfdn,tag,Rank,converted
0,30.0,Process doesn't allow for innovation,2.0,Insufficient development process
1,30.0,Lack of requirements management,1.0,Lack of management
2,41.0,Lack of discipline,4.0,Human factors
3,41.0,Lack of requirements management,5.0,Lack of management
4,41.0,Missing knowledge about development framework,3.0,Lack of knowledge
...,...,...,...,...
1546,1969.0,Missing of a global view of the system,4.0,Lack of knowledge
1547,1969.0,Lack of experience of RE team members,3.0,Lack of knowledge
1548,1969.0,Missing prioritization by customer,1.0,Process execution defects
1549,1969.0,Poor project management,2.0,Lack of management
1550,1969.0,Lack of creativity,5.0,Lack of creativity

In [60]:
previous_lfdn = np.nan
result_list = []

lfdnIndex = 0
previous_lfdn = np.nan
for index, elem in N23_CAUSE.iterrows():
    current_lfdn = elem['lfdn']
    if current_lfdn != previous_lfdn and index > 0:
        lfdnIndex += 1
    N23_CAUSEresult.loc[lfdnIndex, 'lfdn'] = current_lfdn
    N23_CAUSEresult.loc[lfdnIndex,
                      N23ID+'_'+str(int(elem['Rank']))+'_CAUSE' + str(answerIDdictCauses[elem['converted']])] = 'TRUE'
    previous_lfdn = current_lfdn

N23_CAUSEresult = N23_CAUSEresult.fillna('FALSE')

resultList.append(N23_CAUSEresult)
N23_CAUSEresult

,lfdn,3_1_CAUSE_0,3_1_CAUSE_1,3_1_CAUSE_2,3_1_CAUSE_3,3_1_CAUSE_4,3_1_CAUSE_5,3_1_CAUSE_6,3_1_CAUSE_7,3_1_CAUSE_8,...,3_5_CAUSE_6,3_5_CAUSE_7,3_5_CAUSE_8,3_5_CAUSE_9,3_5_CAUSE_10,3_5_CAUSE_11,3_5_CAUSE_12,3_5_CAUSE_13,3_5_CAUSE_14,3_5_CAUSE_15
0,30.0,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
1,41.0,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE
2,48.0,FALSE,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
3,58.0,FALSE,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,...,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,TRUE,FALSE,FALSE,FALSE
4,76.0,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
357,1957.0,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
358,1961.0,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE
359,1962.0,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,...,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE
360,1965.0,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE
361,1969.0,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,...,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE

In [61]:
effectDF = pd.read_csv(r'.\data\Effects_categories.csv',
                       encoding='latin1', delimiter=';')
effectDF = effectDF.rename(
    columns={'Ã¯Â»Â¿Original category': 'Original Category'})
effectDict = effectDF.set_index('Original Category').T.to_dict('list')
# get length of answer possibilites
lenOfeffects = len(effectDF['New Category'].unique())

effectKeys = []
effectAnswerRange = np.arange(0, lenOfeffects)
# Construct answer.csv format columns ([questionId]_[rank]_[EFFECT]_[answerIndex])

for rank in rankRange:
    for answerIndex in effectAnswerRange:
        effectKeys.append(N23ID+'_'+str(rank)+'_EFFECT_'+str(answerIndex))

N23_EFFECTresult = pd.DataFrame(data={'lfdn': [np.nan]})

for effectKey in effectKeys:
    newColumn = pd.DataFrame(data={effectKey: [np.nan]})
    N23_EFFECTresult = pd.concat((N23_EFFECTresult, newColumn), axis=1)

effectDict = {key: delist(value) for key, value in effectDict.items()}
N23_EFFECTresult

,lfdn,3_1_EFFECT_0,3_1_EFFECT_1,3_1_EFFECT_2,3_1_EFFECT_3,3_1_EFFECT_4,3_1_EFFECT_5,3_1_EFFECT_6,3_1_EFFECT_7,3_1_EFFECT_8,...,3_5_EFFECT_8,3_5_EFFECT_9,3_5_EFFECT_10,3_5_EFFECT_11,3_5_EFFECT_12,3_5_EFFECT_13,3_5_EFFECT_14,3_5_EFFECT_15,3_5_EFFECT_16,3_5_EFFECT_17
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [62]:
answerIDdictEffects = {'Budget overrun': '_0',
'Customer conflicts': '_1',
'Customer dissatisfaction': '_2',
'Decreased business value': '_3',
'Decreased efficiency': '_4',
'Decreased manageability': '_5',
'General overrun of project ressources': '_6',
'Incomplete non-functional requirements': '_7',
'Incomplete requirements': '_8',
'Increase in communication problems': '_9',
'Increased complexity': '_10',
'Lack of innovation': '_11',
'Overall demotivation at project level': '_12',
'Poor product quality': '_13',
'Poor requirements quality': '_14',
'Requirements cannot be validated': '_15',
'Team conflicts': '_16',
'Time overrun': '_17'}

answerIDdictEffects

{'Budget overrun': '_0',
 'Customer conflicts': '_1',
 'Customer dissatisfaction': '_2',
 'Decreased business value': '_3',
 'Decreased efficiency': '_4',
 'Decreased manageability': '_5',
 'General overrun of project ressources': '_6',
 'Incomplete non-functional requirements': '_7',
 'Incomplete requirements': '_8',
 'Increase in communication problems': '_9',
 'Increased complexity': '_10',
 'Lack of innovation': '_11',
 'Overall demotivation at project level': '_12',
 'Poor product quality': '_13',
 'Poor requirements quality': '_14',
 'Requirements cannot be validated': '_15',
 'Team conflicts': '_16',
 'Time overrun': '_17'}

In [63]:
effectAnswersDF = pd.read_csv(    r'.\data\Effects_answers.csv', encoding='latin1', delimiter=';')
effectAnswersDF = effectAnswersDF.rename(columns={'Ã¯Â»Â¿lfdn': 'lfdn'})

N23_EFFECT = effectAnswersDF.loc[:, ['lfdn', 'tag','rank']].dropna(
).sort_values('lfdn').reset_index(drop=True)
N23_EFFECT['converted'] = np.nan
for index, row in N23_EFFECT.iterrows():
    N23_EFFECT.loc[index, 'converted'] = effectDict[row['tag']]


previous_lfdn = np.nan
result_list = []
for index, elem in N23_CAUSE.iterrows():
    current_lfdn = elem['lfdn']
    if current_lfdn == previous_lfdn or index == 0:
        result_list.append(elem['converted'])
    else:
        result_list = []
        result_list.append(elem['converted'])
    previous_lfdn = elem['lfdn']

# # Used in another project
N23_EFFECT_wSaT = effectAnswersDF.loc[:, ['lfdn', 'tag', 'sourceId', 'targetId']].dropna(
).sort_values('lfdn').reset_index(drop=True)
N23_EFFECT_wSaT.to_csv(r'.\data\exports\effect_lfdn.csv', index=False, sep=";")
N23_EFFECT_wSaT

N23_EFFECT

,lfdn,tag,rank,converted
0,35,Less time left for RE,5,Time overrun
1,35,Conflicts within the team,1,Team conflicts
2,35,Need for support by a more experienced developer,3,Increased complexity
3,35,Need for support by a more experienced developer,2,Increased complexity
4,41,Unexpected non-functional requirements,2,Incomplete non-functional requirements
...,...,...,...,...
1420,1969,Customer dissatisfaction,3,Customer dissatisfaction
1421,1969,Time overrun,2,Time overrun
1422,1969,Poor requirements quality (general),5,Poor requirements quality
1423,1969,Implementation of irrelevant requirements,4,Decreased efficiency
1424,1969,Implementation of irrelevant requirements,1,Decreased efficiency

In [64]:
previous_lfdn = np.nan
result_list = []

lfdnIndex = 0
previous_lfdn = np.nan
for index, elem in N23_EFFECT.iterrows():
    current_lfdn = elem['lfdn']
    if current_lfdn != previous_lfdn and index > 0:
        lfdnIndex += 1
    N23_EFFECTresult.loc[lfdnIndex, 'lfdn'] = current_lfdn
    N23_EFFECTresult.loc[lfdnIndex,
                      N23ID+'_'+str(int(elem['rank']))+'_EFFECT' + str(answerIDdictEffects[elem['converted']])] = 'TRUE'
    previous_lfdn = current_lfdn

N23_EFFECTresult = N23_EFFECTresult.fillna('FALSE')

resultList.append(N23_EFFECTresult)
N23_EFFECTresult

,lfdn,3_1_EFFECT_0,3_1_EFFECT_1,3_1_EFFECT_2,3_1_EFFECT_3,3_1_EFFECT_4,3_1_EFFECT_5,3_1_EFFECT_6,3_1_EFFECT_7,3_1_EFFECT_8,...,3_5_EFFECT_8,3_5_EFFECT_9,3_5_EFFECT_10,3_5_EFFECT_11,3_5_EFFECT_12,3_5_EFFECT_13,3_5_EFFECT_14,3_5_EFFECT_15,3_5_EFFECT_16,3_5_EFFECT_17
0,35.0,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE
1,41.0,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,...,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE
2,58.0,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,...,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
3,76.0,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
4,81.0,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,...,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
326,1941.0,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE
327,1961.0,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
328,1962.0,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,...,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE
329,1965.0,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,...,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE
330,1969.0,FALSE,FALSE,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE

#### Join all results into a single dataframe to export it

In [65]:
FINAL = joinAllDataFrames(resultList)
# Delete LFDN from list
FINAL = FINAL.iloc[:,1:]
FINAL

,65_0,65_1,65_2,65_3,65_4,65_5,65_6,65_7,65_8,65_9,...,3_5_EFFECT_8,3_5_EFFECT_9,3_5_EFFECT_10,3_5_EFFECT_11,3_5_EFFECT_12,3_5_EFFECT_13,3_5_EFFECT_14,3_5_EFFECT_15,3_5_EFFECT_16,3_5_EFFECT_17
0,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,...,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE
1,FALSE,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,...,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
2,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
3,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,...,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
4,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
213,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
214,FALSE,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
215,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE
216,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE

In [66]:
# Export answers to csv
FINAL.to_csv(r'.\data\exports\answer.csv',index = False ,sep=";")